@import "../../../includes/shared-assets/scss/_variables";

.relation-model-card {
	justify-content: space-between;
	min-width: 85%;
	padding: 10px 16px;
	text-decoration: none;
}

.card-content ul {
	margin-top: 20px;
}

.card-content li {
	border-color: $color-gray-light;
	margin-bottom: 16px;
}

.classic-form .card-content input:invalid + span.error {
	margin: 8px 0;
}
