@import "../../../includes/shared-assets/scss/_variables";

.ReactModal__Content {
	.table-striped > tbody > tr:nth-of-type(odd) {
		--bs-table-striped-bg: #f4f7fa;
	}

	.table-striped > tbody > tr:hover > td {
		box-shadow: inset 0 0 0 9999px darken($color-secondary-light, 5);
	}

	table {
		border: solid 1px $color-gray-disabled-border;
		border-spacing: 0;
	}

	table thead {
		color: $color-text;
		background: $color-gray-disabled-border;
		text-transform: uppercase;
		th {
			text-align: left;
		}
	}

	table th {
		padding-top: 14px;
		padding-bottom: 14px;
	}

	table td {
		padding-top: 0;
		padding-bottom: 0;
	}

	table td.checkbox {
		text-align: center;
		vertical-align: middle;
	}

	table td label {
		display: inline-block;
		padding-top: 20px;
		padding-bottom: 20px;
		width: 100%;
	}

	table input[type="checkbox"] {
		border: 1px solid #6b757b;
		border-radius: 4px;
		transform: scale(1.5);
	}

	table input[type="radio"] {
		transform: scale(1.5);
	}
}
