@import 'variables';

.classic-form {
	padding: 10px;
	
	.field {
		margin-top: 20px;

		input[type="text"],
		input[type="password"],
		input[type="color"],
		input[type="date"],
		input[type="datetime"],
		input[type="datetime-local"],
		input[type="email"],
		input[type="month"],
		input[type="number"],
		input[type="search"],
		input[type="tel"],
		input[type="time"],
		input[type="url"],
		input[type="week"],
		select,
		textarea {
			height: 52px;
			padding: 16px;
			border-radius: 2px;
			border: 1px solid #9DB7D1;
			margin: .25em 0;
		}

		textarea {
			height: 100px;
		}

		input[type="checkbox"] {
			height: 20px;
			width: 20px;
			min-width: 20px;
			max-width: 20px;
		}

		label {
			font-family: 'Open Sans', sans-serif;
			height: 20px;
			color: #002838;
			line-height: 20px;
			font-weight: bold;
			font-size: 14px;
			margin-bottom: 8px;
		}

		/* HTML5 validation styling */
		input {
			border: 2px solid;
			font-size: 1rem;
			margin: 0.25rem;
			min-width: 125px;
			padding: 0.5rem;
			transition: border-color 0.5s ease-out;
		}
		input:optional {
			border-color: gray;
		}
		input:required:valid {
			border-color: green;
		}
		input:invalid {
			border-color: red;
		}
	}
}
