@import 'variables';

.field-list li {
	background: $color-white;
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
	margin-bottom: 32px;
}

.field-list li.dragging {
	opacity: 0.8;
}

.field-list li.add-item {
	background: transparent;
}

.field-list li.closed:hover {
	box-shadow: 0 0 5px 1px rgba(14, 202, 212, 0.75);
}

.field-list button.edit {
	align-items: center;
	background: transparent;
	border: none;
	color: $color-text;
	display: flex;
	height: auto;
	justify-content: space-between;
	margin-left: -15px;
	min-width: 85%;
	padding: 10px 16px;
	text-align: left;
	text-decoration: none;
}

.field-list button.edit span {
	flex-basis: 9%;
}

.field-list button.edit span.wide {
	flex-basis: 15%;
}

.field-list button.edit span.widest {
	flex-basis: 85%;
}

.field-list .label {
	color: lighten($color-gray, 30%);
	font-size: 13px;
	font-weight: 700;
	margin: 0 0 2px;
}

.field-list-info {
	align-items: center;
	display: flex;
	line-height: 32px;
	margin: 0;
}

.field-list-info .info-text {
	align-items: center;
	display: flex;
}

.field-list-info .info-text svg {
	padding: 0 6px;
}

.field-list .read-only.editing label,
.field-list .read-only.editing legend,
.field-list .read-only.editing .radio-row label span {
	color: lighten($color-gray, 20%);
}

.field-list .type {
	align-items: center;
	display: flex;
	font-weight: 300;
	vertical-align: middle;
}

.field-list .type svg {
	margin-right: 12px;
}

.field-list .add-item {
	border: none;
	box-shadow: none;
	justify-content: center;
	margin-bottom: 32px;
	margin-top: -62px;
	max-height: 32px;
	padding: 0;
}

.field-list .add-item button {
	align-items: center;
	background-color: transparent;
	border: none;
	display: flex;
	justify-content: center;
	height: 64px;
	padding: 0;
	width: 64px;
}

.subfield-list .closed,
.subfield-list .open-field {
	margin-top: 35px;
}

.subfield-list .closed:first-of-type,
.subfield-list .open-field:first-of-type {
	margin-top: 0;
}

.subfield-list .add-item {
	margin-bottom: 16px;
	margin-top: -16px;
}

.subfield-list.empty .add-item {
	margin-top: -48px;
}

.subfield-list .add-item button {
	height: 32px;
	margin-left: -4px;
	width: 32px;
}

.subfield-list .subfield-list .add-item button {
	margin-left: -8px;
}

.subfield-list .subfield-list .subfield-list .add-item button {
	margin-left: -11px;
}

.subfield-list .subfield-list .subfield-list .add-item button {
	margin-left: -14px;
}

.field-list .reorder button {
	background-color: transparent;
	padding: 17px 18px 14px 18px;
	border: none;
	height: auto;
}

.field-list .break {
	flex-basis: 100%;
	height: 0;
}

.field-list .subfield-list {
	margin: 32px 0 50px;
}

.field-list .repeater-fields {
	width: 95%;
	margin: 0 2.5%;
}

.draggable {
	margin-bottom: 32px;
	user-select: none;
}

.subfield-list .draggable {
	margin-bottom: 16px;
}

.subfield-list .draggable .closed {
	margin-bottom: 0;
}
