@import "variables";

.wpe-content-model-admin-page input,
.wpe-content-model-admin-page textarea {
	border-radius: $radius;
	border: 1px solid $color-gray-light;
	line-height: 20px;
	max-width: 360px;
	padding: 16px;
}

.wpe-content-model-admin-page {
	input[type="color"],
	input[type="datetime-local"],
	input[type="email"],
	input[type="month"],
	input[type="number"],
	input[type="url"],
	input[type="tel"],
	input[type="search"],
	input[type="week"],
	input[type="text"],
	textarea {
		width: 100% !important;
	}
}

.wpe-content-model-admin-page .has-error input,
.wpe-content-model-admin-page .has-error textarea {
	border-color: $color-warning;
}

.wpe-content-model-admin-page input[type="radio"] {
	border-radius: 50%;
	min-width: auto;
	margin-right: 5px;
}

.wpe-content-model-admin-page input:disabled,
.wpe-content-model-admin-page input:read-only {
	background: #f4f7fa;
	border: 1px solid #cfdde9;
	color: #59767f;
}

.wpe-content-model-admin-page input[type="checkbox"] {
	margin-right: 12px;
	min-width: auto;
}

.wpe-content-model-admin-page label.checkbox {
	font-weight: normal;
}

.wpe-content-model-admin-page textarea {
	min-height: 120px;
}

.wpe-content-model-admin-page label,
.wpe-content-model-admin-page legend {
	font-weight: 700;
}

.wpe-content-model-admin-page .has-error label,
.wpe-content-model-admin-page .has-error legend {
	color: $color-warning;
}

.ReactModal__Content label {
	display: block;
	margin-top: 21px;
}

.ReactModal__Content label[for="description"] {
	margin-top: 14px;
}

.wpe-content-model-admin-page legend {
	margin-bottom: 19px;
}

.wpe-content-model-admin-page label.radio {
	font-weight: 300;
	line-height: 25px;
}

.field-description {
	margin-bottom: 21px;
}

.wpe-content-model-admin-page form .field-messages {
	display: flex;
	font-size: 12px;
	justify-content: space-between;
	margin: 8px 0 0;
	max-width: 360px;
	text-align: right;
}

.wpe-content-model-admin-page form .field-messages .error {
	align-items: center;
	display: flex;
}

.wpe-content-model-admin-page form .field-messages .error svg {
	margin-right: 8px;
}

.wpe-content-model-admin-page .buttons {
	margin: 28px 0;
}

.wpe-content-model-admin-page form div.field {
	margin-top: 28px;
}

span[role="alert"] {
	color: $color-warning;
}

input[aria-invalid="true"] {
	border-color: $color-warning;
}

input[type="radio"]:checked::before {
	background-color: $color-text;
}

input[type="checkbox"],
input[type="radio"] {
	margin: 0;
}

.wpe-content-model-admin-page .help {
	color: $color-gray-mid;
}

.wpe-content-model-admin-page .radio-row {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.wpe-content-model-admin-page .radio-row input[type="radio"] {
	margin-right: 20px;
}

.wpe-content-model-admin-page .radio-row label span {
	color: $color-gray-mid;
	display: block;
	font-size: 13px;
}
