@import 'variables';

.wpe-content-model-admin-page input,
.wpe-content-model-admin-page textarea {
	border-radius: $radius;
	border: 1px solid $color-text;
	min-width: 360px;
	padding: 8px 12px;
}

.wpe-content-model-admin-page input[type="radio"] {
	border-radius: 50%;
	min-width: auto;
}

.wpe-content-model-admin-page input:disabled {
	background: #f4f7fa;
	border: 1px solid #cfdde9;
}

.wpe-content-model-admin-page textarea {
	min-height: 120px;
}

.wpe-content-model-admin-page label,
.wpe-content-model-admin-page legend {
	font-weight: 700;
}

.wpe-content-model-admin-page legend {
	margin-bottom: 19px;
}

.wpe-content-model-admin-page label.radio {
	font-weight: 300;
}

.wpe-content-model-admin-page form .limit {
	font-size: 12px;
	margin: 8px 0 0;
	max-width: 360px;
	text-align: right;
}

.wpe-content-model-admin-page .buttons {
	margin: 28px 0;
}

.wpe-content-model-admin-page form div {
	margin-top: 28px;
}
