@import 'variables';

.model-list li {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.model-list li:focus,
.model-list li:hover {
	box-shadow: 0 0 5px 1px rgba(14, 202, 212, 0.75);
}

.model-list li > a:first-of-type {
	color: $color-text;
	display: flex;
	justify-content: space-between;
	min-width: 85%;
	padding: 10px 16px;
	text-decoration: none;
}

.model-list li a > span {
	flex-basis: 9%;
}

.model-list li span.wide {
	flex-basis: 15%;
}

.model-list li span.widest {
	flex-basis: 30%;
}

.model-list .label {
	color: lighten($color-gray, 30%);
	font-size: 13px;
	font-weight: 700;
	margin: 0 0 2px;
}

.model-list .value {
	margin: 0;
}

.model-list .add-item {
	border: none;
	box-shadow: none;
	justify-content: center;
	margin-bottom: 0;
	margin-top: -46px;
}

.model-list .add-item button {
	background-color: transparent;
	border: none;
	height: 64px;
	padding: 0;
}

.dropdown-content:not(.hidden) {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px 0;
	justify-content: center;

	position: absolute;
	width: 100px;
	height: auto;

	background: $color-white;
	box-shadow: 0px 5px 20px rgba(68, 68, 68, 0.15);
	border-radius: 2px;
	a {
		line-height: 25px;

		display: flex;
		align-items: center;
		text-align: center;
		margin: 5px auto;

		color: $color-primary;
	}
	a.delete {
		color: $color-warning;
		text-decoration: none;
	}
}

.wpe-content-model-delete-model-modal-container,
.wpe-content-model-delete-field-modal-container {
	h2 {
		font-size: 24px;
		margin-top: 0;
	}

	.ReactModal__Content:focus {
		box-shadow: none;
	}

	.ReactModal__Content--after-open p:last-of-type {
		margin-bottom: 40px;
	}
}
