@import "../../../includes/shared-assets/scss/_variables";
li.open-field {
	display: block;
}

.field-buttons {
	display: flex;
	padding: 16px 32px;
}

.field-form {
	box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.15);
	padding: 32px;
}

.field-form.editing {
	box-shadow: none;

	button.options {
		padding: 0 5px;
	}
}

.field-form h3 {
	margin: 0;
	font-weight: 700;
}

.field-form .buttons {
	margin-bottom: 0;
}
