$color-white: #fff;
$color-text: #002838;
$color-gray: #59767f;
$color-gray-mid: #405e6a;
$color-gray-light: #9db7d1;
$color-gray-disabled-background: #F4F7FA;
$color-gray-disabled-border: #CFDDE9;
$color-gray-disabled-text: #59767F;
$color-primary: #7e5cef;
$color-primary-hover: #5c43ae;
$color-highlight: #0ecad4;
$color-success: #35872f;
$color-warning: #d21b46;
$color-warning-hover: #991433;

$font-family: "Open Sans", sans-serif;
$radius: 2px;
