$color-white: #fff;
$color-text: #002838;
$color-gray: #59767f;
$color-primary: #7e5cef;
$color-primary-hover: #5c43ae;
$color-highlight: #0ecad4;
$color-warning: #d21b46;
$color-warning-hover: #991433;

$font-family: 'Open Sans', sans-serif;
$radius: 2px;
